.breadcrumbs {
  .crumbs-separator-icon {
    @include size(8px);
  }

  @include media-breakpoint-down(md) {
    display: none;
  }
}

.breadcrumbs_item {
  color: #656565;
  text-decoration: none;

  &:not(:last-child) {
    &:hover {
      color: $color-indigo;
    }
  }
}
