@use 'sass:math';

.header {
  $padding: $grid-gutter-width;

  display: none;
  padding: $padding $padding $padding $padding * 2;

  @include media-breakpoint-down(lg) {
    padding: math.div($padding, 2);
  }
}

.header_buttons {
  gap: $grid-gutter-width;

  @include media-breakpoint-down(md) {
    gap: math.div($grid-gutter-width, 2);
  }
}
