.layout {
  display: flex;
  min-height: 100%;
}

.layout_side {
  min-width: $menu-width;
  min-height: 100%;
  background: $white;
}

.layout_content {
  flex-grow: 10;
  max-width: calc(100% - $menu-width);
}

.layout_main {
  $padding: $grid-gutter-width;

  max-width: calc(1000px + #{$padding * 2});
  padding: $padding $padding $padding $padding * 2;
}
