.s-modal {
  @include position(absolute, 100% null null 0);

  margin-top: $grid-gutter-width;
  max-width: 617px;
  transform: scale(0.8) translateY(3rem);
  transform-origin: top left;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.is-active {
    transform: none;
    pointer-events: all;
    opacity: 1;
  }
}

.s-modal_close {
  @include size(2rem);
  @include position(absolute, 1.4rem 1rem);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  > .icon {
    @include size(17px);
  }
}
