.user {
  @include size(256px $action-button-size);

  gap: $grid-gutter-width;

  @include media-breakpoint-down(md) {
    @include size($action-button-size-sm);
  }
}

.user_image {
  @include size(41px);

  border: 2px solid #d9d9d9;

  > img {
    max-width: 100%;
  }
}

.user_name {
  @include media-breakpoint-down(md) {
    display: none;
  }
}
