{% extends 'layout/base.twig' %}

{% block content %}
  {% include 'components/create-store.twig' %}
  <div class="h4 mb-5">
    Управление магазинами
  </div>
  <div class="bg-white rounded shadow-sm p-4">
    {% include 'components/stores_table.twig' %}
  </div>
{% endblock %}
