<nav class="breadcrumbs">
  {% for item in breadcrumbs %}
    {% if item.href %}
      <a class="breadcrumbs_item" href="{{ item.href }}">
        {{ item.name }}
      </a>
      {% include 'icon.twig' with { name: 'crumbs-separator' } %}
    {% else %}
      <span class="breadcrumbs_item">
        {{ item.name }}
      </span>
    {% endif %}
  {% endfor %}
</nav>
