<a class="messages {{ (isActive) ? 'is-active' : '' }} d-flex justify-content-center align-items-center rounded p-1 p-md-3" href="">
  <span class="messages_icon">
    {% include 'icon.twig' with { name: 'messages' } %}
  </span>
</a>
