<a href="" class="user d-flex align-items-center shadow-sm rounded bg-white text-decoration-none p-1 p-md-3">
  <div class="user_image rounded-circle overflow-hidden">
    <img src="{{ image }}" alt="{{ name }}" />
  </div>
  <div class="user_name text-muted">
    {{ name }}
  </div>
</a>
