//$MQ_ZERO: 420px;
//$MQ_MOBILE: 768px;
//$MQ_TABLET: 1024px;
//$MQ_LAPTOP: 1440px;
//$MQ_DESKTOP: 1920px;
//
//$CONTAINER_WIDTH: 144rem;
//$GRID_GAP: 2rem;


$font-family-sans-serif: Roboto, sans-serif;

$text-dark: #343434;
$text-muted: #7d7d7d;

$color-indigo: #6666CC;
