// custom

$color-indigo: #6666cc;

$menu-width: 256px;
$menu-width-sm: 64px;

$action-button-size: 65px;
$action-button-size-sm: 45px;

// overrides

$font-family-sans-serif: Roboto, sans-serif;

$text-dark: #343434;
$text-muted: #7d7d7d;
$primary: #55c97b;
$secondary: #b1b1b1;
$link-color: $color-indigo;

$btn-font-size: 0.9rem;

$input-btn-padding-x: 1rem;
$input-btn-padding-y: 0.55rem;
